<h1>Check out this little patch of color</h1>
<p>Tap to change it.</p>

<script class='template' type="text/html" name='Patch'>
  <div class='patch'>
    <div class='color_text'>{{color_text}}</div>
  </div>
</script>