<h1>Check out this little patch of color</h1>
<p>It doesn't do anything yet, but it is a lovely shade of periwinkle.</p>

<script class='template' type="text/html" name='Patch'>
  <div class='patch'>
    <div class='color_text'>{{color_text}}</div>
  </div>
</script>